@font-face{
    font-family: glue1-spoticon;
    src:url(https://open.scdn.co/cdn/fonts/spoticon_regular_2.d319d911.woff2) format("woff2"),
    url(https://open.scdn.co/cdn/fonts/spoticon_regular_2.ff4c6091.woff) format("woff"),
    url(https://open.scdn.co/cdn/fonts/spoticon_regular_2.127670b5.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}